.page-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        = "hayashi"
  .side-items
    .side-items__box
      %p.side-items__box__itemname
        = "プログラミング"
      %p.side-items__box__itemname
        = "旅行"