.edit-pages {
  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title {
      width: 600px;
      margin: 40px 0;
      padding: 5px 0;
      border-bottom: 2px solid #ffcaa7;
    }
  .input-box {
    &__title {
      width: 600px;
      height: 50px;
      font-size: 16px;
      padding: 10px;
    }
    &__post {
      display: flex;
      flex-direction: column;
      &__text--contents {
        width: 600px;
        height: 350px;
        font-size: 16px;
        padding: 10px;
        overflow: scroll;
      }
      &__function {
        border: 1px solid #9E9E9E;
        display: flex;
        margin: 10px 0;
        padding-left: 10px;
        &__image {
          cursor: pointer;
          font-size: 2.0rem;
          margin-right: 10px;
          &--file {
            font-size: 14px;
            display: flex;
            align-items: center;
            padding: 10px 0;
          }
        }
        &__btn {
          width: 600px;
          height: 40px;
          background-color: #e67c35;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  }
}
