.page-main {
  width: calc(100vw - 300px);
  .main-header {
    height: 100px;
    padding: 0 40px;
    background-color: #eb53d1;
    // &__box {
    //   display: flex;
    //   justify-content: space-between;
    //   background-color: #7e7d7a;
    //   border-bottom: 1px solid #eeeeee;
    //   // &__title {
    //   //   color: #333333;
    //   //   font-size: 20px;
    //   //   margin-top: 40px;
    //   // }
    //   &__trash {
    //     color: #333333;
    //     font-size: 16px;
    //     margin-top: 40px;
    //   }
    // }
  }
  .page-box {
    background-color: aquamarine;
    margin: 20px 40px;
    .page-title {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #c0c0c0;
      &__name {
        font-size: 20px;
      }
      &__date {
        font-size: 11px;
      }
    }
    .page-text {
      display: flex;
      flex-direction: column;
      &__content {
        font-size: 16px;
      }
      &__image {
        height: 300px;
        width: 300px;
      }
    }
  }
  // .main-pages {
  //   .form {
  //     .input-box {
  //       width: 100%;
  //       padding: 0 40px;
  //       &__title {
  //         height: 50px;
  //         width: 100%;
  //         font-size: 20px;
  //       }
  //       &__post {
  //         display: flex;
  //         position: relative;
  //         &__text {
  //           height: calc(100vh - 100px - 50px);
  //           width: 100%;
  //           font-size: 20px;
  //         }
  //         &__function {
  //           display: flex;
  //           position: absolute;
  //           bottom: 10px;
  //           right: 10px;
  //           &__image {
  //             cursor: pointer;
  //             font-size: 2.0rem;
  //             margin-right: 10px;
  //             &--file {
  //               display: none;
  //             }
  //           }
  //           &__btn {
  //             width: 100px;
  //             height: 40px;
  //             background-color: #eb53d1;
  //             color: #eeeeee;
  //             cursor: pointer;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}