.AccountPage {
  width: 580px;
  height: 670px;
  margin: 60px auto;
  padding: 60px 0px;
  background-color: #fffff7;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AccountPage__title {
  width: 80%;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    color: #000;
    &:after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
    }
  }
}

.AccountPage__link {
  width: 50%;
  .Button {
  margin-top: 40px;
  color: #fff;
  background-color: #ccc;
  }
}
.AccountPage__form {
  width: 50%;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color:  #e67c35;

}
